.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Ensure each cell-container has the same height */
.cell-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: none;
}

.mini-post {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.caption {
  padding: 10px;
  text-align: justify;
}
