.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.carousel-wrapper {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-prev, .slick-next {
  display: none !important; // Hide arrows
}

.slick-prev:before, .slick-next:before {
  display: none !important; // Hide arrows
}

.slick-dots {
  bottom: .6rem;
  display: flex !important; // Ensure dots are displayed
  justify-content: center; // Center the dots
}

.slick-dots li button:before {
  font-size: .6rem;
  color: black; // Customize the color
}

.slick-dots li.slick-active button:before {
  color: black; // Customize the color
}
